* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 12px;
    background-color: limegreen;
}

@media screen and (max-width: 1024px) {
    .container { 
        flex-wrap: wrap;
        align-content: center;
    }

    .card {
        width: 20%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 45%;
    }
}
@media screen and (max-width: 375px) {
    .card {
        width: 80%;
    }
}